{% extends "base.html" %}

{% load static %}

{% block title %}
    Add review
{% endblock %}



{% block content %}

{% if user.is_authenticated %}
    <section>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button type="submit" name="publish" class="btn btn-secondary">
                    Publish
                </button>
                <button type="submit" name="save_draft" class="btn btn-secondary">
                    Save Draft
                </button>
            </form>
        </div>
    </section>
{% else %}
    <div>
        Please log in <a href="{% url 'account_login' %}">here</a> to add a review.
    </div>
{% endif %}

{% endblock %}