{% extends "base.html" %}

{% load static %}

{% block title %}
    Delete review
{% endblock %}

{% block content %}

<!-- Delete review form -->
{% if user.is_authenticated %}
    {% if user.id == bookreview.reviewer.id %}
        <div>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    <h3>Are you sure you want to delete your review of:</h3>
                    <p>{{ bookreview.book_title }} by {{ bookreview.book_author }}?</p>
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    {% else %}
        <div>
            You are not authorised to delete this review.
        </div>
    {% endif %}
{% else %}
    <div>
        Please log in to delete a review.
    </div>
{% endif %}

{% endblock %}