{% extends "base.html" %}

{% load static %}

{% block title %}
    Edit review
{% endblock %}

{% block content %}

<!-- Edit review form -->
{% if user.is_authenticated %}
    {% if user.id == bookreview.reviewer.id %}
        <section>
            <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button type="submit" name="publish" class="btn btn-success">
                        Update and Publish
                    </button>
                    <button type="submit" name="save_draft" class="btn btn-warning">
                        Save Changes as Draft
                    </button>
                </form>
            </div>
        </section>
    {% else %}
        <div>
            You are not authorised to edit this review.
        </div>
    {% endif %}
{% else %}
    <div>
        Please log in to edit a review.
    </div>
{% endif %}

{% endblock %}