{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->

<!-- ======= Hero Section ======= -->
<section id="hero-slider" class="hero-slider">
    <div class="container-md">
        <div class="row">
            <div class="col-12">
                <div class="img-bg d-flex align-items-end" style="background-image: url('static/img/hero-image.jpg');">
                    <div class="img-bg-inner" style="background-color: #060606a8;">
                        <h2>Want to share your reviews with other bookworms? Join us!</h2>
                        <button class="btn btn-outline-light btn-lg">Sign Up</button>
                        <button class="btn btn-outline-light btn-lg">Log In</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ======= Post Grid Section ======= -->
<section id="posts" class="posts">
    <div class="container" data-aos="">
        <div class="row g-5">
            {% for review in bookreview_list %}
            <div class="col-lg-6">
                <div class="post-entry-1 lg">
                    <a href="#"><img src="static/img/post-landscape-1.jpg" alt="" class="img-fluid"></a>
                    <div class="post-meta"><span class="date">{{ review.book_genre }}</span> <span class="mx-1">&bullet;</span>
                        <span>{{ review.created_on }}</span></div>
                    <h2><a href="#">{{ review.book_title }}</a></h2>
                    <p class="mb-4 d-block">
                        Blurb: {{ review.book_blurb|linebreaks }}
                    </p>
                    <div class="d-flex align-items-center author">
                        <div class="name">
                            <h3 class="m-0 p-0">Reviewed by: {{ review.reviewer }}</h3>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
        </div>
        <div class="row g-5">
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- ======= Pagination ======= -->
    {% block pagination %}
    <div class="text-center py-4">
        <div class="custom-pagination">
            {% if page_obj.has_previous %}
            <a href="?page=1" class="prev">
                First
            </a>
            <a href="?page={{ page_obj.previous_page_number }}" class="prev">
                Previous
            </a>
            {% endif%}

            <a class="active">{{page_obj.number}}</a>
            <a style="pointer-events: none">of {{page_obj.paginator.num_pages}}</a>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="next">
                Next
            </a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="next">
                Last
            </a>
            {% endif%}
        </div>
    </div>
    {% endblock %}
</section>

<!-- index.html content ends here -->
{% endblock %}