{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<section class="single-post-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 post-content">
                <!-- ======= Single Post Content ======= -->
                <div class="single-post">
                    <div class="post-meta"><span class="date">{{ review.book_genre }}</span> <span class="mx-1">&bullet;</span>
                        <span>{{ review.created_on }}</span></div>
                    <div class="my-4">
                        {% if "placeholder" in review.book_cover.url %}
                        <img src="{% static 'img/default_bookcover.jpg' %}" alt="placeholder image" class="img-fluid">
                        {% else %}
                        <img src="{{ review.book_cover.url }}" alt="{{ review.book_title }}" class="img-fluid">
                        {% endif %}
                    </div>
                    <h1 class="mb-5">{{ review.book_title }}</h1>
                    <h4>Author:</h4>
                    <p>{{ review.book_author }}</p>
                    <h4>Reviewer rating:</h4>
                    <p>{{ review.book_rating }} out of 5</p>
                    <h4>Reviewed by:</h4>
                    <p>{{ review.reviewer }}</p>
                    <h4>Blurb:</h4>
                    <p>{{ review.book_blurb | safe }}</p>
                    <h4>Review:</h4>
                    <p>{{ review.book_review|safe }}</p>
                </div>
                {% if user.is_authenticated and user.id == review.reviewer.id %}
                    <a href="{% url 'edit_review' review.id %}" class="btn btn-secondary">Edit review</a>
                    <a href="{% url 'delete_review' review.id %}" class="btn btn-secondary">Delete review</a>
                {% endif %}
                <!-- ======= End Single Post Content ======= -->

                <!-- ======= Comments ======= -->
                <div class="comments">
                    <h5 class="comment-title py-4">
                        {{ comment_count }} Comments
                    </h5>
                    {% for comment in comments %}
                    <div class="comment d-flex mb-4">
                        <div class="flex-grow-1 ms-2 ms-sm-3">
                            <div class="comment-meta d-flex align-items-baseline">
                                <h6 class="me-2">{{ comment.commenter }}</h6>
                                <span class="text-muted">({{ comment.created_on }})</span>
                            </div>
                            <div id="comment{{ comment.id }}" class="comment-body">
                                {{ comment.body | linebreaks }}
                            </div>
                            {% if user.is_authenticated and comment.commenter == user %}
                            <button class="btn btn-delete" data-comment_id="{{ comment.id }}">Delete</button>
                            <button class="btn btn-edit" data-comment_id="{{ comment.id }}">Edit</button>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- ======= End Comments ======= -->

                <!-- ======= Comments Form ======= -->
                <div class="col-md-4 card mb-4 mt-3">
                    <div class="card-body">
                        {% if user.is_authenticated %}
                        <h3>Leave a comment:</h3>
                        <p>Posting as: {{ user.username }}</p>
                        <form id="commentForm" method="post" style="margin-top: 1.3em;">
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                            <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                        </form>
                        {% else %}
                        <p>Log in to leave a comment</p>
                        {% endif %}
                    </div>
                </div>
                <!-- ======= End Comments Form ======= -->
            </div>
        </div>
    </div>
</section>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}