{% extends "base.html" %}

{% load static %}

{% block title %}
    Create Profile Page
{% endblock %}

{% block content %}

{% if user.is_authenticated and not user.profile.id %}
    <section>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button>Create Profile Page</button>
            </form>
        </div>
    </section>
{% else %}
    <div>
        You already have a profile page. Click <a href="{% url 'edit_profile_page' user.profile.id %}">here</a> to edit your profile page.
    </div>
{% endif %}

{% endblock %}